<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student</title>
</head>
<body>
    <h1>Update Student</h1>
    <form action="/update-student/<%= student.id %>" method="PUT">
        <label for="fullname">Full Name:</label><br>
        <input type="text" id="fullname" name="fullname" value="<%= student.fullname %>" required><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value="<%= student.email %>" required><br><br>
        <label for="game_name">Game:</label><br>
        <input type="text" id="game_name" name="game_name" value="<%= student.game_name %>"><br><br>
        <label for="score">Score:</label><br>
        <input type="number" id="score" name="score" value="<%= student.score %>"><br><br>
        <button type="submit">Update Student</button>
    </form>
</body>
</html>
